{% extends 'base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-3">
            <h1>{{ document_code }}</h1>
          </div>
          <div class="col-sm-9">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item"><a href="{% url 'category' document_category_id %}">{{ document_category_name }}</a></li>
              <li class="breadcrumb-item active">{{ document_code }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- END ALERTS AND CALLOUTS -->

        <div class="row">
          <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card">
              <div class="card-header d-flex p-0">
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Информация</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">История изменений</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <table class="table table-bordered">
                        <tbody>
                            {% for key, value in document.items %}
                                <tr>
                                    <td><b>{{ key }}</b></td>
                                    {% if key == 'Файл документа' %}
                                        <td>
                                            <a class="btn btn-app" href="{% url 'download' document_id %}">
                                                <i class="fas fa-save"></i> Скачать
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_2">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>ДАТА И ВРЕМЯ</th>
                          <th>ДЕЙСТВИЕ</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for doc_change_history_item in doc_change_history %}
                            <tr>
                              <td>{{ doc_change_history_item.action_time }}</td>
                              <td>{{ doc_change_history_item.change_message }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- END CUSTOM TABS -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_script %}
    <script>
      $(function () {
        $("#example1").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
        });
      });
    </script>
{% endblock %}