{% extends 'base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Главная</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Категории документов</h3>
              </div>
              <!-- ./card-header -->
              <div class="card-body p-0">
                <table class="table table-hover">
                {% load docs_extras %}
                  <tbody>
                    {% for key, value in documents_by_categories_tree.items %}
                        <tr {% if value|get_value_from_dict:'child_categories' %} data-widget="expandable-table" aria-expanded="false" {% endif %}>
                          <td {% if not value|get_value_from_dict:'child_categories' %} class="border-0" {% endif %}>
                              {% if value|get_value_from_dict:'child_categories' %} <i class="expandable-table-caret fas fa-caret-right fa-fw"></i> {% endif %}
                              <a href="{% url 'category' value.category_id %}">{{ key }}</a>
                          </td>
                        </tr>
                        {% with child_categories=value|get_value_from_dict:'child_categories' %}
                            <tr class="expandable-body">
                              <td>
                                <div class="p-0">
                                  <table class="table table-hover">
                                    <tbody>
                                      {% for key, value in child_categories.items %}
                                          <tr {% if value|get_value_from_dict:'child_categories' %} data-widget="expandable-table" aria-expanded="false" {% endif %}>
                                              <td>
                                                  {% if value|get_value_from_dict:'child_categories' %} <i class="expandable-table-caret fas fa-caret-right fa-fw"></i> {% endif %}
                                                  <a href="{% url 'category' value.category_id %}">{{ key }}</a>
                                              </td>
                                          </tr>
                                          {% with sub_child_categories=value|get_value_from_dict:'child_categories' %}
                                              <tr class="expandable-body">
                                                <td>
                                                  <div class="p-0">
                                                    <table class="table table-hover">
                                                      <tbody>
                                                        {% for key, value in sub_child_categories.items %}
                                                            <tr {% if value|get_value_from_dict:'child_categories' %} data-widget="expandable-table" aria-expanded="false" {% endif %}>
                                                               <td>
                                                                   {% if value|get_value_from_dict:'child_categories' %} <i class="expandable-table-caret fas fa-caret-right fa-fw"></i> {% endif %}
                                                                   <a href="{% url 'category' value.category_id %}">{{ key }}</a>
                                                               </td>
                                                            </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                    </table>
                                                  </div>
                                                </td>
                                              </tr>
                                          {% endwith %}
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_script %}
    <script>
      $(function () {
        $("#example1").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      });
    </script>
{% endblock %}