{% extends 'base.html' %}

{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <h2 class="text-center display-4">Поиск документов</h2>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Категории:</label>
                                    <select class="select2" name="categories" multiple="multiple" data-placeholder="Все" style="width: 100%;">
                                        {% for category_id, category_name in categories.items %}
                                            <option {% if category_id in selected_categories %}selected{% endif %} value="{{ category_id }}">{{ category_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Порядок сортировки:</label>
                                    <select class="select2" name="sort_order" style="width: 100%;">
                                        <option value="" selected>ASC</option>
                                        <option value="-">DESC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Сортировать по:</label>
                                    <select class="select2" name="ordering_field" style="width: 100%;">
                                        {% for field_code, field_name in ordering_fields.items %}
                                            <option value="{{ field_code }}">{{ field_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input type="search" name="search_text" required
                                       class="form-control form-control-lg"
                                       placeholder="Введите наименование или обозначение документа" value="{% if search_text %}{{ search_text }}{% else %}СНиП 11-04-2003{% endif %}">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col-md-10 offset-md-1">
                    {% for document in documents %}
                        <div class="card card-default collapsed-card">
                          <div class="card-header">
                            <h3 class="card-title"><a href="{% url 'document' document.id %}">{{ document.code }}</a></h3>

                            <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <div class="row">
                              <table class="table table-bordered">
                                <tbody>
                                    {% for key, value in document.items %}
                                        {% if key != 'id' and key != 'code' %}
                                            <tr>
                                                <td><b>{{ key }}</b></td>
                                                {% if key == 'Файл документа' %}
                                                    <td>
                                                        <a class="btn btn-app" href="{% url 'download' document.id %}">
                                                            <i class="fas fa-save"></i> Скачать
                                                        </a>
                                                    </td>
                                                {% else %}
                                                    <td>{{ value }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <!-- /.row -->
                          </div>
                          <!-- /.card-body -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
{% endblock %}
{% block extra_script %}
    <script>
        $(function () {
          $('.select2').select2()
        });
    </script>
{% endblock %}